{% extends "base.twig" %}
{% block content %}

    {% macro print(post) %}
        <tr>
            <td><a href="../index.php?page=viewarticle&id={{ post.id_posts }}" target="_blank">
                    {{ post.title }}</a></td>

            <td>
                {% if post.review1 is defined %}
                    <form action="index.php?page=viewreview" target="_blank" method="post">
                        <input type="hidden" name="user_id" value="{{ post.review1.users_id_user }}">
                        <input type="hidden" name="post_id" value="{{ post.review1.posts_id_posts }}">
                        <button type="submit" class="icon-btn"><span class="glyphicon glyphicon-share"></span></button>
                    </form>
                {% endif %}
            </td>

            <td>
                {% if post.review2 is defined %}
                    <form action="index.php?page=viewreview" target="_blank" method="post">
                        <input type="hidden" name="user_id" value="{{ post.review2.users_id_user }}">
                        <input type="hidden" name="post_id" value="{{ post.review2.posts_id_posts }}">
                        <button type="submit" class="icon-btn"><span class="glyphicon glyphicon-share"></span></button>
                    </form>
                {% endif %}
            </td>

            <td>
                {% if post.review3 is defined %}
                    <form action="index.php?page=viewreview" target="_blank" method="post">
                        <input type="hidden" name="user_id" value="{{ post.review3.users_id_user }}">
                        <input type="hidden" name="post_id" value="{{ post.review3.posts_id_posts }}">
                        <button type="submit" class="icon-btn"><span class="glyphicon glyphicon-share"></span></button>
                    </form>
                {% endif %}
            </td>

            {% if post.status <= 2 %}
            <td>
                <form action="index.php?page=newarticle" method="post">
                    <input type="hidden" name="post_id" value={{ post.id_posts }}>
                    <input type="hidden" name="mode" value="edit">
                    <button type="submit" class="icon-btn"><span class="glyphicon glyphicon-edit"></span></button>
                </form>
            </td>
            {% else %}
                <td></td>
            {% endif %}

            <td>
                {% if post.status == 1 %}
                    Unfinished

                {% elseif post.status == 2 %}
                    Under review

                {% elseif post.status == 3 %}
                    Declined

                {% elseif post.status == 4 %}
                    Accepted

                {% endif %}

            </td>

            <td>
                <form action="src/form-processing/article.php" method="post">
                    <input type="hidden" name="post_id" value={{ post.id_posts }}>
                    <input type="submit" class="btn submit" name="delete" value="Delete">
                </form>
            </td>
        </tr>
    {% endmacro %}


    <div class="container">
        <div>
            <a href="index.php?page=newarticle">
                <button class="btn new-article">
                    <span class="glyphicon glyphicon-pencil"></span>New article
                </button>
            </a>
            <h2>My articles</h2>
        </div>
        <hr>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Article</th>
                    <th class="rev-col" colspan="3">Reviews</th>
                    <th class="link-col">Edit</th>
                    <th id="status-col">Status</th>
                    <th id="delete-col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% import _self as printer %}
                    {% for a in articles %}
                        {{ printer.print(a) }}
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}