{% extends "base.twig" %}
{% block content %}

    {% macro print(post, user) %}
        <tr>
            <td>{{ post.title }}</td>
            <td>{{ post.author.login }}</td>

            <td>
                <form action="index.php?page=newreview" method="post">
                    <input type="hidden" name="post_id" value={{ post.id_posts }}>
                    <input type="hidden" name="user_id" value={{ user.id_user }}>
                    {% if post.review is not defined %}
                        <button type="submit" class="edit-btn"><span class="glyphicon glyphicon-pencil"></span></button>
                    {% else %}
                        <button type="submit" class="edit-btn"><span class="glyphicon glyphicon-edit"></span></button>
                    {% endif %}
                </form>
            </td>

            <td>
                {% if post.review is defined and post.review.status == 2 %}
                    {% if post.review.datetime < post.datetime %}
                        Article changed.
                    {% else %}
                        Up to date.
                    {% endif %}

                {% elseif post.review.status == 1 %}
                    {% if post.review.datetime < post.datetime %}
                        Article changed.
                    {% else %}
                        <form class="form-horizontal" action="../src/form-processing/newreview.php" method="post">
                            <input type="hidden" name="post_id" value={{ post.id_posts }}>
                            <input type="hidden" name="user_id" value={{ user.id_user }}>
                            <input type="hidden" name="quick-submit" value="1">
                            <input type="submit" name="submit" class="btn my-table-btn" value="Submit">
                        </form>
                    {% endif %}

                {% elseif post.review.status == 3 %}
                    Declined.
                {% elseif post.review.status == 4 %}
                    Article declined.
                {% elseif post.review.status == 5 %}
                    Article accepted.
                {% endif %}


            </td>

        </tr>
    {% endmacro %}


    <div class="container">

        <h2>Articles for review</h2>
        <hr>
        <div class="table-responsive">

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Article</th>
                    <th>Author</th>
                    <th id="link-col">Review</th>
                    <th id="status-col">Status</th>
                </tr>
                </thead>
                <tbody>
                {% import _self as printer %}
                {% for a in articles %}
                    {{ printer.print(a, user) }}
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock content %}