{% extends "base.twig" %}
{% block content %}

    <!-- Makro na vypis jedne radky tabulky -->
    {% macro print(post, reviewers)%}
        <tr>
            <td rowspan="3">{{ post.title }}</td>
            <td rowspan="3">{{ post.author.name }}</td>

            {% import _self as printer %}
            {% if post.reviewer1 is defined %}
                {{ printer.printRev(post, post.reviewer1) }}
            {% else %}
                {{ printer.printEmpty(post, reviewers, 1) }}
            {% endif %}

            <td rowspan="3">
                <form action="../src/form-processing/rvwass.php" method="post">
                    <input type="hidden" name="post_id" value="{{ post.id_posts }}">
                    <input type="submit" name="accept" class="btn my-table-btn success" value="Accept"
                            {% if post.reviewer1 is not defined
                                or post.reviewer1.review.status != 2
                                or post.reviewer2 is not defined
                                or post.reviewer2.review.status != 2
                                or post.reviewer3 is not defined
                                or post.reviewer3.review.status != 2 %}
                                disabled
                            {% endif %}
                    >
                    <input type="submit" name="decline" class="btn my-table-btn danger" value="Decline">
                </form>
            </td>
        </tr>

        <tr>
            {% import _self as printer %}
            {% if post.reviewer2 is defined %}
                {{ printer.printRev(post, post.reviewer2) }}
            {% else %}
                {{ printer.printEmpty(post, reviewers, 2) }}
            {% endif %}
        </tr>

        <tr>
            {% import _self as printer %}
            {% if post.reviewer3 is defined %}
                {{ printer.printRev(post, post.reviewer3) }}
            {% else %}
                {{ printer.printEmpty(post, reviewers, 3) }}
            {% endif %}

        </tr>

    {% endmacro %}

    <!-- Makro na vypis jedne recenze -->
    {% macro printRev(post, reviewer)%}
        <!-- Pokud to cele neni obalene ve form, vklada se padding ktereho se neda zbavit -->
        <td>{{ reviewer.login }}</td>
        {% if reviewer.review is defined and reviewer.review.status == 2 %}
            <td>{{ reviewer.review.acc }}</td>
            <td>{{ reviewer.review.orig }}</td>
            <td>{{ reviewer.review.lang }}</td>
            <td>
                <form action="../index.php?page=viewreview" target="_blank" method="post">
                    <input type="hidden" name="user_id" value="{{ reviewer.review.users_id_user }}">
                    <input type="hidden" name="post_id" value="{{ reviewer.review.posts_id_posts }}">
                    <button type="submit" class="icon-btn"><span class="glyphicon glyphicon-share"></span></button>
                </form>
            </td>
            <td>{{ reviewer.review.acc + reviewer.review.orig + reviewer.review.lang }}</td>

        {% else %}
            <td colspan="5"></td>
        {% endif %}

        <td>
            <form action="../src/form-processing/rvwass.php" method="post">
                <input type="hidden" name="post_id" value="{{ post.id_posts }}">
                <input type="hidden" name="user_id" value="{{ reviewer.id_user }}">
                <input type="submit" name="delete-rev" class="btn my-table-btn" value="Delete">
            </form>
        </td>
    {% endmacro %}

    <!-- Makro na vypis nabidky recenzentu  -->
    {% macro printEmpty(post, reviewers, num)%}
        <form action="../src/form-processing/rvwass.php" method="post">
            <input type="hidden" name="post_id" value="{{ post.id_posts }}">

            <td>
                <select class="my-select" name="rev-select"  {% if num != (post.review_count+1) %} disabled {% endif %}>
                    {% if num == (post.review_count+1) %}
                        {% import _self as printer %}
                        {% for r in reviewers %}
                            {{ printer.printRevSel(post, r) }}
                        {% endfor %}
                    {% endif %}
                </select>
            </td>

            <td></td><td></td><td></td><td></td><td></td>

            <td><input type="submit" class="btn my-table-btn" value="Assign" {% if num != (post.review_count+1) %} disabled {% endif %}></td>
        </form>
    {% endmacro %}


    {% macro printRevSel(post, reviewer)%}
        {% if post.reviewer_id1 != reviewer.id_user and  post.reviewer_id2 != reviewer.id_user and post.reviewer_id3 != reviewer.id_user %}
            <option value="{{ reviewer.id_user }}">{{ reviewer.login }}</option>
        {% endif %}
    {% endmacro %}

    <div class="container">
        <h2>Assign reviews</h2>
        <hr>
        <div class="table-responsive">

            <table class="table">
                <thead>
                <tr>
                    <th rowspan="2">Article</th>
                    <th rowspan="2">Author</th>
                    <th id="review" colspan="7">Review</th>
                    <th rowspan="2" class="action2-col">Action</th>
                </tr>
                <tr>
                    <th class="reviewer-col">Reviewer</th>
                    <th class="num-col">Acc.</th>
                    <th class="num-col">Orig.</th>
                    <th class="num-col">Lang.</th>
                    <th class="num-col">View</th>
                    <th class="num-col">Sum</th>
                    <th class="action-col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% import _self as printer %}
                    {% for a in articles %}
                        {{ printer.print(a, reviewers) }}
                    {% endfor %}
                </tr>
                </tbody>
            </table>

        </div>
    </div>

{% endblock content %}