{% extends "base.twig" %}
{% block content %}

    <!-- Makro na vypis jedne radky tabulky -->
    {% macro print(post, reviewers)%}
        <tr>
            <td rowspan="3">{{ post.title }}</td>
            <td rowspan="3">{{ post.author.name }}</td>

            {% import _self as printer %}
            {% if post.review1 is defined %}
                {{ printer.printRev(post, post.review1) }}
            {% else %}
                {{ printer.printEmpty(post, reviewers) }}
            {% endif %}

            <td rowspan="3">
                <form action="../src/form-processing/reviews.php" method="post">
                    <input type="hidden" name="post_id" value="{{ post.id_posts }}">
                    <input type="submit" name="accept" class="btn my-table-btn success" value="Accept">
                    <input type="submit" name="decline" class="btn my-table-btn danger" value="Decline">
                </form>
            </td>
        </tr>

        <tr>
            {% import _self as printer %}
            {% if post.review2 is defined %}
                {{ printer.printRev(post, post.review2) }}
            {% else %}
                {{ printer.printEmpty(post, reviewers) }}
            {% endif %}
        </tr>

        <tr>
            {% import _self as printer %}
            {% if post.review3 is defined %}
                {{ printer.printRev(post, post.review3) }}
            {% else %}
                {{ printer.printEmpty(post, reviewers) }}
            {% endif %}

        </tr>

    {% endmacro %}

    <!-- Makro na vypis jedne recenze -->
    {% macro printRev(post, reviewer)%}
        <!-- Pokud to cele neni obalene ve form, vklada se padding ktereho se neda zbavit -->
        <form action="../src/form-processing/reviews.php" method="post">
            <td>{{ reviewer.name }}</td>
            {% if reviewer.review is defined %}
                <td>{{ reviewer.review.acc }}</td>
                <td>{{ reviewer.review.orig }}</td>
                <td>{{ reviewer.review.lang }}</td>
                <td></td>
                <td>{{ reviewer.review.acc +reviewer.review.orig + reviewer.review.lang }}</td>

            {% else %}
                <td colspan="5"></td>
            {% endif %}

            <td>
                <input type="hidden" name="post_id" value="{{ post.id_posts }}">
                <input type="hidden" name="user_id" value="{{ reviewer.id_user }}">
                <input type="submit" name="delete-rev" class="btn my-table-btn" value="Delete">
            </td>
        </form>
    {% endmacro %}

    <!-- Makro na vypis nabidky recenzentu  -->
    {% macro printEmpty(post, reviewers)%}
        <form action="../src/form-processing/reviews.php" method="post">
            <input type="hidden" name="post_id" value="{{ post.id_posts }}">

            <td>
                <select class="my-select" name="rev-select">
                    {% import _self as printer %}
                    {% for r in reviewers %}
                        {{ printer.printRevSel(post, r) }}
                    {% endfor %}
                </select>
            </td>

            <td></td><td></td><td></td><td></td><td></td>

            <td><input type="submit" class="btn my-table-btn" value="Assign"></td>
        </form>
    {% endmacro %}


    {% macro printRevSel(post, reviewer)%}
        {% if post.review_id1 != reviewer.id_user and  post.review_id2 != reviewer.id_user and post.review_id3 != reviewer.id_user %}
            <option value="{{ reviewer.id_user }}">{{ reviewer.name }}</option>
        {% endif %}
    {% endmacro %}



    <div class="container">
        <h2>Assign reviews</h2>
        <hr>
        <div class="table-responsive">

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th rowspan="2">Article</th>
                    <th rowspan="2">Author</th>
                    <th id="review" colspan="7">Review</th>
                    <th rowspan="2" class="action2-col">Action</th>
                </tr>
                <tr>
                    <th class="reviewer-col">Reviewer</th>
                    <th class="num-col">Acc.</th>
                    <th class="num-col">Orig.</th>
                    <th class="num-col">Lang.</th>
                    <th class="num-col">View</th>
                    <th class="num-col">Sum</th>
                    <th class="action-col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% import _self as printer %}
                    {% for a in articles %}
                        {{ printer.print(a, a.reviewers) }}
                    {% endfor %}
                </tr>
                </tbody>
            </table>

        </div>
    </div>

{% endblock content %}